@import "tailwindcss";

nav{
    background: #222;
    color:white;
    padding:15px 30px;
    display: flex;
    gap: 35px;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
flex-wrap:wrap;
}

li{
    cursor: pointer;
}

nav h1{
    font-size: 20px;
    font-weight:bold;
}

    #ratingBody{
      font-family: Arial, sans-serif;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin: 0;
    }

    .rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }

    .star-button {
      font-size: 50px;
      color: #ccc;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.2s;
    }

    .star-button:hover,
    .star-button:hover ~ .star-button {
      color: gold;
    }

    .star-button.selected,
    .star-button.selected ~ .star-button {
      color: gold;
    }

    .star-button.permanent-selected {
      color: gold !important;
    }

    
    .lis-item {
      color: green;
      margin-bottom: 10px; 
    }
    .de{
      padding:5px;
    }